{namespace cmis=Tx_AtolCmisList_ViewHelpers_Default}
{namespace alf=Tx_AtolCmisList_ViewHelpers_Alfresco}
<div class="tx-atolcmis-list-res">
  <h2>

    <f:link.action action="show" arguments="{oID : obj.id}">
      <f:if condition="{icons}">
        <alf:icon obj="{obj}"/>
      </f:if>
      
      
      <alf:title obj="{obj}" />
      
    </f:link.action>
  </h2>

  <f:if condition="{type} != 1"> 
    <f:then>
      <div class="tx-atolcmis-list-info-wrapper">  
      
        <f:if condition="{type} == 0">
          <f:then>
            <cmis:thumbnail obj="{obj}"/>  
          </f:then>
        </f:if>
        <alf:description obj="{obj}" />
         
      </div>
    </f:then>
  </f:if>
</div>