{namespace nx=Tx_AtolCmisList_ViewHelpers_Nuxeo}
{namespace cmis=Tx_AtolCmisList_ViewHelpers_Default}
<div id="tx-atolcmis-more" style="display:none" >
  <h3>
    <cmis:rendition obj="{obj}" rk="cmis:thumbnail"/>
    <span class="cmis-title">
        <cmis:properties obj="{obj}" propertyName="dc:title"/>
    </span>
  </h3>

    <span class="cmis-attributes">
      <f:translate key="list.popup.author" />
      <strong><cmis:properties obj="{obj}" propertyName="cmis:createdBy"/></strong>
      </span>
    <span class="cmis-attributes">
      <f:translate key="list.popup.cdate" />
      <strong><cmis:date obj="{obj}" format="d-m-Y"/></strong>
    </span>
</div>
